---
tags: ["story", "start"]
title: Harry ani Sally
level: 1
---
<script>
    import E from "$lib/E.svelte"

</script>

Don <E title="children">burghi</E> asli, Harry ani Sally, Thi <E title="brother">baau </E>ani <E title="sister"> boinn</E>. Thi Texasanth, <E title="in a big house" >vodle garanth </E> <E title="they live">raautat</E> Texasanth <E title="hot"> garam </E> <E title="is"> asa </E>
